{
  "presets": [
    ["next/babel"],
    ["@zeit/next-typescript/babel"]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@layouts": "./src/layouts/",
        "@styles": "./src/styles/",
        "dva-utils": "./src/utils/",
        "dva": "dva-no-router"
      }
    }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}