{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@styles": "./src/styles/",
        "dva-utils": "./src/utils/",
        "dva": "dva-no-router"
      }
    }],
    "transform-decorators-legacy",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}